@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using TGHub.Application.Resourses
@namespace TGHub.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IStringLocalizer<UiStrings> UiStringsLoc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="TGHub.Blazor.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        @UiStringsLoc[nameof(UiStrings.ExceptionProd)]
    </environment>
    <environment include="Development">
        @UiStringsLoc[nameof(UiStrings.ExceptionDev)]
    </environment>
    <a href="" class="reload">@UiStringsLoc[nameof(UiStrings.Reload)]</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://kit.fontawesome.com/f211c7207d.js" crossorigin="anonymous"></script>
</body>
</html>