@page
@using Microsoft.Extensions.Localization
@using TGHub.Application.Resourses
@using TGHub.Blazor.Shared.Components
@model TGHub.Blazor.Pages.Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IStringLocalizer<UiStrings> UiStringsLoc

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="h-screen flex flex-col items-center justify-center gap-3 bg-indigo-200">
    <div class="max-w-md w-full flex flex-col items-center bg-white rounded-lg shadow-lg p-8">
        <script async src="https://telegram.org/js/telegram-widget.js?22"
                data-telegram-login="tghub_manager_bot" data-size="large"
                data-radius="20" data-auth-url="login-callback/?redirectUrl=@(Model.RedirectUrl)" data-request-access="write">
        </script>
        <div class="text-gray-600 mt-4 text-center">
            @UiStringsLoc[nameof(UiStrings.LogoutInstruction)]
        </div>
        <div class="w-full flex justify-end mt-4">
            <component type="typeof(CultureSelector)" render-mode="ServerPrerendered"/>
        </div>
    </div>
</div>