@using TGHub.Application.Services.Auth
@using TGHub.Blazor.Shared.Loaders
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <button class="px-2 py-1 border rounded hover:bg-gray-700/ text-slate-50"
            @onclick="@LogOutAsync">
        Log out
        @if (_isLoading)
        {
            <ElementLoader/>
        }
    </button>
</AuthorizeView>

@code {

    private bool _isLoading;

    private async Task LogOutAsync()
    {
        try
        {
            _isLoading = true;
            await ((CustomAuthStateProvider)AuthenticationStateProvider).LogoutAsync();
        }
        finally
        {
            _isLoading = false;
        }
    }

}