@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>TGHub</PageTitle>

<main>
    <AuthorizeView>
        <Authorized>
            <NavMenu/>
            <div class="max-w-7xl mx-auto py-2 px-4">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="max-w-7xl mx-auto py-2 px-4">
                @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</main>
<BlazoredToasts
    MaxToastCount="3"
    ShowProgressBar="true"
    Position="ToastPosition.BottomRight"/>