@using Blazored.Toast.Configuration
@using TGHub.Application
@inherits LayoutComponentBase

<PageTitle>@Constants.WebSiteName</PageTitle>

<main class="h-full w-full flex flex-col">
    <AuthorizeView>
        <Authorized>
            <NavMenu/>
            <div class="self-stretch grow">
                <div class="h-full max-w-7xl mx-auto py-2 px-4">
                    <HasChannels>
                        @Body
                    </HasChannels>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="max-w-7xl mx-auto py-2 px-4">
                @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</main>
<BlazoredToasts
    MaxToastCount="3"
    ShowProgressBar="true"
    Position="ToastPosition.BottomRight"/>