<div class="w-full h-full absolute left-0 z-20 flex justify-center items-center p-0 bg-[#F8F7F9]">
    <div class="animate-spin h-10 w-10 rounded-full border-double border-[#6046EB] border-l-4" viewBox="0 0 24 24">
    </div>
</div>