@page "/channels"
@using TGHub.Application.Resources
@using TGHub.Application.Services.Channels
@using TGHub.Blazor.Pages.Channels.Components
@using TGHub.Domain.Entities
@using TGHub.Application.Common
@using TGHub.Application.Common.Filtering
@attribute [Authorize]
@inject IStringLocalizer<UiStrings> UiStringsLoc
@inject IServiceProvider ServiceProvider
@inject LocalStorageProvider LocalStorageProvider

<PageTitle>@UiStringsLoc[UiStrings.Channels]</PageTitle>

<div class="h-full flex flex-col">
    <div class="my-2">
        <PageHeaderTitle Text="@UiStringsLoc[UiStrings.Channels]"/>
    </div>
    <div class="grid gap-2 w-full justify-center" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))">
        @foreach (var channel in _channels)
        {
            <ChannelCard Channel="@channel"/>
        }
    </div>
</div>

@code {

    private List<Channel> _channels = new();

    protected override async Task OnInitializedAsync()
    {
        await using var scope = ServiceProvider.CreateAsyncScope();
        var channelService = scope.ServiceProvider.GetRequiredService<IChannelService>();
        _channels = await channelService
            .ListAsync(new FilterBase<Channel>
            {
                Where = ch => ch.IsActive &&
                              ch.Administrators.Any(a => a.IsActive && a.AdministratorId == LocalStorageProvider.Id)
            });
    }

}