@attribute [Authorize]
@page "/posts/create"
@using TGHub.Application.Common
@using TGHub.Application.Common.SessionStorage
@using TGHub.Application.Resources
@using TGHub.Application.Services.Base
@using TGHub.Blazor.Pages.Posts.Forms
@using TGHub.Blazor.Pages.Posts.Models
@using TGHub.Domain.Entities
@inject LocalStorageProvider LocalStorageProvider
@inject SessionStorageProvider SessionStorageProvider
@inject IService<ChannelAdministrator> ChannelAdministratorService
@inject IStringLocalizer<NotificationStrings> NotificationStringsLoc

<div class="h-full">
    <PostForm IsEdit="@false" Model="@_model"/>
</div>

@code {
    private readonly PostModel _model = new();

}