@using System.Globalization
@using TGHub.Application
@inject NavigationManager Navigation

<div class="px-3 py-2 flex items-center justify-center gap-1 rounded-full bg-[#54a9eb] text-white">
    <i class="fa-solid fa-language fa-xl mt-0.5"></i>
    <select @bind="Culture" class="bg-inherit">
        @foreach (var culture in _supportedCultures)
        {
            <option class="bg-white text-black" value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>

@code
{
    private readonly CultureInfo[] _supportedCultures = ApplicationConstants.SupportedCultures
        .Select(c => new CultureInfo(c)).ToArray();

    private CultureInfo _culture = CultureInfo.CurrentCulture;

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get => _culture;
        set
        {
            if (!Equals(CultureInfo.CurrentCulture, value))
            {
                _culture = value;

                var uri = new Uri(Navigation.Uri)
                    .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo(
                    $"api/Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    true);
            }
        }
    }
}